html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/background-color2.png');
    background-size: 100%;
}

.background {
    background-color: rgba(255, 255, 255, .5);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.mainBox {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: none;
    max-width: 45%;
}

.logo {
    width: 200px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

.btn {
    background-color: #F2A074;
    border: 0px;
}

.btn:hover {
    background-color: #FBF6EE;
    color: #5a5a5a;
    border: 0px;
}


/*
 * Header
 */

.toolBar {
    width: 100%;
    margin: 0px;
    background-color: white;
    height: 45px;
    padding-top: 20px;
    padding-left: 20px;
}

.menuItems {
    padding-left: 40px;
    text-align: left;
}

.menuItem,
.logoutText {
    padding: .25rem 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    color: #5e5e5e;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    margin: 7px;
    text-align: left;
    text-shadow: none;
}

.menuItem:hover,
.menuItem:focus {
    color: #5e5e5e;
    border-bottom-color: #5e5e5e;
}

.active {
    color: #5e5e5e;
    border-bottom-color: #5e5e5e;
    ;
}

.logoutText {
    color: white;
}

.logoutText:hover {
    color: #5a5a5a;
}

.logoutButton {
    width: 80%;
    border-width: 0px;
    background-color: #F2A074;
    border-radius: 5px;
    color: #fff;
}

.nameToolbar {
    color: #5e5e5e;
}