html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  /* padding-top: 40px; */
  padding-bottom: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('background-color2.png');
  background-size: 100%;
  
}
.background {
  background-color: rgba(255, 255, 255, .5);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.mainBox {
  /* display: flex;
  justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: none; 
  max-width: 50%;
}

.logo {
  width: 200px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

/* body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  /* background-size: 100%;
  background-color: #fff;
} */

/* .cover-container {
  max-width: 42em;
} */


/*
 * Header
 */

 .toolBar {
  width:100%;
  margin:0px;
  background-color: #5e5e5e;
  height: 45px;
  padding-top: 20px;
  padding-left: 20px;
}
.menuItems {
 padding-left:40px;
}
.menuItem, .logoutText {
 padding: .25rem 0;
 padding-left: 10px;
 padding-right: 10px;
 font-weight: 700;
 color: rgba(255, 255, 255, .5);
 color: #fff;
 background-color: transparent;
 border-bottom: .25rem solid transparent;
 margin:7px;
 text-align:left;
}

.menuItem:hover,
.menuItem:focus {
   color: white;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.active {
 color: white;
 border-bottom-color: white;
}

.logoutButton {
 width:80%;
 border-width:0px;
 background-color: #0d6efd;
 border-radius: 5px;
 color: #fff;
}
